/*Header*/
.overview{
    color:green;
    font-size:24px;
    font-weight:bold;
    text-align:center;
	margin-left: auto;
  	margin-right: auto;
	display:block;
	padding-bottom: 20px;
}
@media only screen and (min-width : 1200px){
    img#thunder-img{
       width:100px;
       height:100px;
    }
    img#coachella-img{
       width:100px; 
       height:68px;
    }
    img#nascar-img{
       width:100px; 
       height:68px;
    }
     img#abw-img{
       width:100px; 
       height:88px;	
	   margin-right:14px;
	   padding-bottom: 10px;
    }
     img#banner{
       width:50%;
    }   
	img#KOH-img{
       width:100px; 
       height:68px;
	   margin-right:32px;
    }
    a#thunder-link{
       padding-left:20px;
       font-size:14px; 
    }
    a#coachella-link{
       padding-left:20px;
       font-size:14px; 
    }
    a#nascar-link{
       padding-left:20px;
       font-size:14px; 
    }
    a#abw-link{
       padding-left:20px;
       font-size:14px; 
    }
    h5#thunder-h5{
       padding-top:9px; 
       margin-left:105px; 
       padding-bottom:32px;
    }
    h5#coachella-h5{
       padding-top:9px; 
       margin-left:105px; 
    }
    h5#nascar-h5{
       padding-top:9px; 
       margin-left:105px; 
    }
    h5#abw-h5{
       padding-top:9px; 
       margin-left:105px; 
    }
    h5#koh-h5{
       padding-top:9px; 
       margin-left:105px; 
    }
}
@media only screen and (max-width : 1199px){
    img#thunder-img{
       width:68px;
       height:68px;
    }
    img#coachella-img{
       width:80px; 
       height:66px;
    }
    img#nascar-img{
       width:80px; 
       height:66px;
    }
    img#abw-img{
       width:80px; 
       height:66px;
    }
	img#banner{
       width:60%;
    } 
	img#KOH-img{
       width:100px; 
       height:68px;
	}
    a#thunder-link{
       padding-left:19px;
       font-size:13px; 
    }
    a#coachella-link{
       padding-left:19px;
       font-size:13px; 
    }
    a#nascar-link{
       padding-left:19px;
       font-size:13px; 
    }
    a#abw-link{
       padding-left:19px;
       font-size:13px; 
    }
    h5#thunder-h5{
       padding-top:9px; 
       margin-left:73px; 
       padding-bottom:0px;
       font-size: 12px;
    }
    h5#coachella-h5{
       padding-top:9px; 
       margin-left:84px; 
       font-size: 12px;
    }
    h5#nascar-h5{
       padding-top:9px; 
       margin-left:84px;  
       font-size: 12px;
    }
    h5#abw-h5{
       padding-top:9px; 
       margin-left:84px;  
       font-size: 12px;
    }
    h5#koh-h5{
       padding-top:9px; 
       margin-left:105px; 
    }
}
@media only screen and (max-width : 768px){
    img#thunder-img{
       width:100px;
       height:100px;
    }
    img#coachella-img{
       width:100px; 
       height:68px;
    }
    img#nascar-img{
       width:100px; 
       height:68px;
    }
     img#abw-img{
       width:100px; 
       height:68px;
    }
	img#banner{
       width:100%;
    } 
	img#KOH-img{
       width:100px; 
       height:68px;
	}
    a#thunder-link{
       padding-left:20px;
       font-size:14px; 
    }
    a#coachella-link{
       padding-left:20px;
       font-size:14px; 
    }
    a#nascar-link{
       padding-left:20px;
       font-size:14px; 
    }
    a#abw-link{
       padding-left:20px;
       font-size:14px; 
    }
    h5#thunder-h5{
       padding-top:9px; 
       margin-left:105px; 
       padding-bottom:32px;
    }
    h5#coachella-h5{
       padding-top:9px; 
       margin-left:105px; 
    }
    h5#nascar-h5{
       padding-top:9px; 
       margin-left:105px; 
    }
    h5#abw-h5{
       padding-top:9px; 
       margin-left:105px; 
    }
    h5#koh-h5{
       padding-top:9px; 
       margin-left:105px; 
    }
}
