div.vehicle-div{
    position:relative;
    width:270px;
    margin:0 auto;
    margin-bottom:32px;
}
span.sleeps-span{
    float:right; 
    padding-left:10px;
    background-image:url(../UserData/Images/bedrooms.png);
    background-position: left center;
    background-repeat: no-repeat;
    color: #313131;
    padding-left: 23px;
    padding-bottom: 4px;
}
a.img-a{
    -webkit-transition: background-color 0.2s ease-in;
    -moz-transition: background-color 0.2s ease-in;
    -o-transition: background-color 0.2s ease-in;
    transition: background-color 0.2s ease-in;
    background-color: rgba(0,0,0,0);
    display: block;
    left: 0px;
    position: absolute;
    width: 100%;
    z-index: 1;
}
a.img-a:hover{
    background-color: rgba(0,0,0,0.5);
    background-image: url(../UserData/Images/eye.png);
    background-position: center center;
    background-repeat: no-repeat;
}
div.carousel-div{
    position:relative;
}
div.carousel-div img{
    width:100%;
    height:196px;
}
div.carousel-div a{
    height:100%;
    top:0px;
}
div.clip-carousel-div{
    margin-top:-34px;
    height:230px;
}
div.clip-carousel-div img{
    position:absolute;
    clip:rect(34px, 270px, 230px, 0px);
}
div.clip-carousel-div a{
    height:196px;
    top:30px;
}
div.clip-img-div{
    position: relative;
    height: 230px;
    margin-top: -34px;
}
div.clip-img-div img{
    width:100%;
    clip: rect(34px, 270px, 230px, 0px);
    position: absolute;
}
div.clip-img-div a{
    height: 196px;
    top: 34px;
}
div.img-div{
    position:relative;
}
div.img-div img{
    width:100%;
    height:196px;
}
div.img-div a{
    height: 100%;
    top: 0px;
}
div.info-div{
    background-color:white; 
    padding-left:15px; 
    padding-right:15px; 
    padding-bottom:8px; 
    padding-top:8px;
}
div.info-div a{
    font-size:20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
div.info-div a:hover{
    text-decoration:none;
}
div.info-div h5{
    margin-top:0px; 
    margin-bottom:8px;
    color: #707070;
}
input.send-btn{
    background-color: #06a7ea;
    background-image: url(../UserData/Images/arrow-right-white.png);
    background-position: 90% center;
    background-repeat: no-repeat;
    background-size: 8px 11px;
    padding-right: 30px;
    color:white;
    border-radius: unset;
}
input.send-btn:hover{
    color:white;
    background-color: #045e83;
}
@media only screen and (min-width : 1200px){
    h2#carousel-h2{
       font-size:28px;
    }
}
@media only screen and (max-width : 1199px){
    h2#carousel-h2{
       font-size:28px;
    }
}
@media only screen and (max-width : 768px){
    h2#carousel-h2{
       font-size:19px;
    }
}