div#primary-img img{
    width: 100%;
}
div#overview-div{
    border: 1px solid #b5b5b5;
    padding: 20px;
}
img.thumbs:hover{
    opacity: 0.5;
}
#element {
    position: absolute;
    background: #FFFFFF;
    left:50%;
    width:275px;
}
div.estimateDiv{
    margin: 10px;
    text-align: center;
    border: 2px solid #e1e1e1;
    border-radius: 7px;
    padding-bottom: 10px;
    padding-top: 10px;
}
div.priceDiv{
    text-align:center;
}
div#element span{
    color:black;
    font-size:12px;
}
@media only screen and (min-width : 1200px){
    #element{
        margin-left:325px;
    }
}
@media only screen and (max-width : 1199px){
    #element{
        margin-left:240px;
    }
}
@media only screen and (max-width : 991px){
    #element{
        margin-left:130px;
    }
}
@media only screen and (max-width : 767px){
    #element{
        margin-left:-800px;
    }
}