/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f0f0f0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}*/

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}
#menu{
    border-radius:unset;
    border:unset;
    background-color: #81959d;
    margin-bottom:0px;
}
.navbar-inverse .navbar-brand{
    color:#313131;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 23px;
    padding-top: 21px;
    font-size: 16px;
}
.navbar-inverse .navbar-brand:hover{
    background-color: #022a3b;
    border-top: 2px solid #06a7ea;
    color: #06a7ea;
    text-decoration: none;
    padding-bottom: 23px;
    padding-top: 19px;
    height:100%;
}
.navbar-inverse .navbar-nav > li > a {
    color: #313131;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 23px;
    padding-top: 21px;
    font-size: 16px;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: #022a3b;
    border-top: 2px solid #06a7ea;
    color: #06a7ea;
    padding-bottom: 23px;
    padding-top: 19px;
    text-decoration: none;
}
a#footer-link:hover{
    text-decoration:none;
    color: #0584b8;
}
a#footer-link{
    text-decoration:none;
    color:#06a7ea;
}